.main-header {
  line-height: 1rem;
  background: $gradient3;
  color: white;
  z-index: 10;
  position: sticky;
  top: 0;
}

h1 {
  span {
    margin: 0;
  }
}

.main-nav {
  a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      color: darken(#fff, 20%);
    }
  }
}

.main-header {
  @include for-mobile-layout {
    @include grid-template(3, 1, 0, 1fr);
  }
}

.logo-container {
  @include for-mobile-layout {
    justify-content: center;
    @include grid-item(1, -1, 1, 2);
  }
}

.main-nav {
  @include for-mobile-layout {
    transform: translate(50%, -120%) scaleY(0);
    opacity: 0;
    width: 100%;
    height: calc(100dvh - $header-height);
    position: fixed;
    top: $header-height;
    background: $gradient3;
    z-index: 11;
    flex-direction: column;
    justify-content: flex-start;
    transition: 0.6s ease-in-out;

    &.active {
      transform: translate(0, 0) scaleY(1);
      opacity: 1;
    }
    a {
      border-bottom: 1px solid #fff;
      width: 100%;
      padding: 1rem;
    }
  }
}

.burger-menu {
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
