@import 'functions';
@import 'mixins';
/* BGCOLORS*/
$primaryClr1: #ff385c;
$secondaryClr1: #fff;
$secondaryClr2: #dddddd;
$secondaryClr3: #717171;
$secondaryClr4: #f7f7f7;
$secondaryClr5: #ebebeb;
$secondaryClr6: #b0b0b0;
/* FONT COLORS*/
$fontClr1: rgb(113, 113, 113);
$fontClr2: rgb(238 232 244);
$fontClr3: #222222;

/* STATUS COLORS*/
$pending: #ffba1e;
$declined: #e43838;
$approved: #4eb944;

$navHeight: 65px;
/* Breakpoints*/
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;

$header-height: 84px;
$footer-height: 44px;

$gradient1: radial-gradient(
  circle at center,
  #ff385c 0%,
  #e61e4d 27.5%,
  #e31c5f 40%,
  #d70466 57.5%,
  #bd1e59 75%,
  #bd1e59 100%
);
$gradient2: linear-gradient(#06beb6 0%, #48b1bf 100%);
$gradient3: linear-gradient(#48b1bf 0%, #06beb6 100%);
$gradient4: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
$gradient5: linear-gradient(135deg, #1a1a1a 0%, #333333 100%);
$gradient6: linear-gradient(to left, #486cef 0%, #3458db 100%);

$shadow1: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);

$text-shadow1: 1px 1px 2px rgba(0, 0, 0, 0.7),
  -1px -1px 2px rgba(255, 255, 255, 0.7);
$text-shadow2: 1px 1px 3px rgba(255, 255, 255, 0.8);
$text-shadow3: 1px 1px 2px rgba(0, 0, 0, 0.7),
  -1px -1px 2px rgba(255, 255, 255, 0.7);

$scrollbar-width: 8px;
:root {
  --perspective: 1000px;
  --camera-dolly: 0px;
  --camera-truck: 0px;
  --camera-pedestal: 50px;
  --camera-pan: 0deg;
  --camera-tilt: 0deg;
  --camera-roll: 0deg;
  --full-height: 100dvh;
}

$outer-padding: rem(10px);
@include for-mobile-layout {
  $outer-padding: rem(10px);
}
@include for-tablet-layout {
  $outer-padding: rem(20px);
}
@include for-normal-layout {
  $outer-padding: rem(20px);
}
@include for-wide-layout {
  $outer-padding: rem(20px);
}
@include for-extra-wide-layout {
  $outer-padding: rem(20px);
}
