.about > *:not(.background) {
  padding-inline: $outer-padding;
  // mix-blend-mode: multiply;
}

.about {
  color: #333;
  background: linear-gradient(to right, transparent 20%, #ffffff3f 70%);
  text-shadow: $text-shadow1;
  .img-container {
    flex-basis: 35%;
  }
  .txt-container {
    gap: 0.7rem;
    p,
    h2 {
      font-weight: 500;
    }
  }
  img.background {
    top: 0;
  }

  @include for-mobile-layout {
    flex-direction: column;
    .img-container {
      order: 1;
      width: 100%;
      box-shadow: $shadow1;
      opacity: 0.8;
    }

    img.background {
      position: fixed;
      object-position: 50% 50%;
    }

    .txt-container {
      order: 2;
    }
  }
}
