.articles {
  color: #fff;
  text-shadow: $text-shadow1;
  background: linear-gradient(to right, transparent 20%, #0000003f 50%);
  border-radius: 1rem;
  p {
    font-weight: 400;
  }
  img.background {
    top: 0;
    transform: rotateY(180deg);
    object-position: 10% 10%;
  }
}
