.contact-page {
  @include grid-template(2, 2, 0, 1fr, 80dvh);
}

.wave-container {
  @include grid-item(1, -1, 1, 2);

  position: relative;
  overflow: hidden;
  z-index: 1;
  background: $gradient6;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23f7f7f7" fill-opacity="1" d="M0,96L60,106.7C120,117,240,139,360,138.7C480,139,600,117,720,122.7C840,128,960,160,1080,176C1200,192,1320,192,1380,192L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>');
    background-repeat: no-repeat;
    background-size: cover;
  }
  p {
    color: #fff;
    transform: translateY(-100%);
  }
}

.txt-container {
  @include grid-item(1, 2, 2, 2);
  z-index: 2;
}
.form-wrapper {
  @include grid-item(2, 2, 2, 2);
  z-index: 2;
  background: $gradient3;
  border-radius: 1em;

  input,
  textarea {
    background-color: transparent;
    border: none;
    background-color: lighten(#06beb6, 10%);
    border: 0.5px solid #06beb6;
  }

  .error {
    color: red;
    position: absolute;
  }

  .btn {
    background: lighten(#06beb6, 10%);
    align-self: center;
    border: 0.5px solid #06beb6;
    color: #fff;
    &:hover {
      background: #fff;
      color: #06beb6;
    }
  }
}

.contact-page {
  @include for-mobile-layout {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
.wave-container {
  @include for-mobile-layout {
    height: 100dvh;
    justify-content: start;
    &:after {
      height: 50%;
    }
    p {
      transform: translateY(100%);
    }
  }
}

.txt-container {
  @include for-mobile-layout {
    padding: 0.5rem;
    margin: 0;
    align-self: center;
    width: 100%;
  }
}
.form-wrapper {
  @include for-mobile-layout {
    margin: 0;
    align-self: center;
    margin-inline: 0.5rem;
  }
}
