.counseling {
  & h2,
  p {
    color: #fff;
    text-shadow: $text-shadow1;
    @include for-mobile-layout {
      mix-blend-mode: hard-light;
      color: #333333;
      font-weight: 900;
      text-shadow: $text-shadow2;
    }
  }

  .background.pos-fixed {
    @include for-mobile-layout {
      object-position: 30%;
    }
  }
}
