.img-container {
  @include aspect-ratio(1, 1);
  height: 30rem;
  width: 30%;
}

img:not(.hero-img) {
  width: 100%;
  height: 100%;
  object-position: 20% 50%;
  border-radius: 1rem;
}
.txt-container {
  width: 70%;
}

article {
  @include for-mobile-layout {
    flex-direction: column;
    .img-container {
      width: 100%;
    }
  }
}
