.psychotherapy {
  color: #fff;
  text-shadow: $text-shadow1;
  top: $header-height;
  img.background {
    mix-blend-mode: normal;
    top: 0;
    animation: object-pos 10s linear infinite;
    @keyframes object-pos {
      0%,
      100% {
        object-position: 50% 25%;
      }
      25% {
        object-position: 50% 50%;
      }
      50% {
        object-position: 50% 75%;
      }
      75% {
        object-position: 50% 50%;
      }
    }
  }
  @include for-mobile-layout {
    img.background {
      object-position: 50% 0%;
    }
  }
}
