@import '../setup/mixins';
* {
  box-sizing: border-box;
}

html {
  font-family: Alef-Regular, Alef-Bold, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  color: $fontClr3;
  height: 100%;
  direction: rtl;
  @include for-mobile-layout {
    overflow-x: hidden;
  }
}

body {
  margin: 0;
  padding: 0;
  line-break: strict;
  background-color: $secondaryClr4;
  height: 100dvh;

  & > * {
    height: 100%;
  }
  &.modal-open {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style: none;
  margin-block: 0;
  padding-inline: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  outline: none;

  * {
    pointer-events: none;
  }
}
textarea {
  resize: none;
  font-family: inherit;
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input,
textarea {
  font-family: inherit;
  text-align: inherit;
  border-radius: 1em;
  padding: em(8px) em(12px);
  outline: none;
  &:focus {
    outline: none;
  }
}

/* MAC like scrollbar*/
::-webkit-scrollbar {
  width: $scrollbar-width;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
  -webkit-border-radius: 100px;
}

img.background.pos-fixed {
  top: $header-height;
  width: 100vw;
  left: 0;
  border-radius: 0;
  z-index: -1;
  object-fit: cover;
  object-position: 0 50%;
  mix-blend-mode: luminosity;
}
