@font-face {
  font-family: 'Alef-Regular';
  src: url('../fonts/Alef-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Alef-Bold';
  src: url('../fonts/Alef-Bold.ttf') format('truetype');
}
